body { 
    background-color:honeydew;
}

h1{
    color:lightcoral;
    font-size:xx-large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.preferred{
    font-style: italic;
} 
 
.tableinfo{
    font-style: italic;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
} 
  
td {
    width: 50px;
}

th {
    background-color: #f5f5f5;
}

caption {
    font-style: italic;
    font-weight: bold;
}